:root {
    --main-app-color: #001739;
    --main-app-color-focus: #2972dd;

    --main-app-color: #502b65;
    --main-app-color-focus: #673AB7;

    --main-app-color: #292929;
    --main-app-color-focus: var(--bs-text-primary);
}

.toastr {
	opacity: 1 !important;
}


.modal.modal-c1 .modal-header {
	background-color: var(--main-app-color);
	color: white;
	position: relative;
}

.modal.modal-c1 .modal-header > * {
	color: white;
}

.modal.modal-c1 .modal-header > [data-bs-dismiss="modal"] {
	position: absolute;
  right: 0;
  width: 70px;
  height: 100%;
  border-radius: 0;
  border-top-right-radius: 5px;
}

[data-kt-app-layout=dark-sidebar] .app-sidebar {
	/*background-color: #26112b;*/
	background-color: var(--main-app-color);
}

[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item .menu-link,
[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item .menu-link .menu-title,
[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item .menu-link .menu-icon,
[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item .menu-link .menu-icon .svg-icon,
[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item .menu-link .menu-icon i {
    color: #ffffff96;
}

[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item .menu-link .menu-arrow:after,
[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item .menu-link .menu-bullet .bullet {
    background-color: #ffffff96;
}

[data-kt-app-layout=dark-sidebar] .app-sidebar .menu .menu-item .menu-heading {
    color: #FFF !important;
}

[data-kt-app-layout=dark-sidebar] .app-sidebar .app-sidebar-logo {
    border-bottom: none !important;
}

[data-kt-app-layout=dark-sidebar] .app-sidebar .app-sidebar-toggle.btn.btn-active-color-primary.active i,
[data-kt-app-layout=dark-sidebar] .app-sidebar .app-sidebar-toggle.btn.btn-active-color-primary:hover:not(.btn-active) i {
    color:var(--main-app-color-focus);
}

.bg-sidebar {
    background-color: var(--main-app-color) !important;
}